[Unit]
Description=Run OddsIntel Heartbeat every 15min

[Timer]
OnBootSec=10min
OnUnitActiveSec=15min
AccuracySec=1min

[Install]
WantedBy=timers.target
